body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.informacao{
    width: 80%
}

h1 {
    color: #6C63FF;
}

form {
    background-color: #dfdef8;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #6C63FF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #6C63FF;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
